<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Blogs"
         connectionString="Data Source=lenovo-nwsl\sqlexpress;Initial Catalog=blog;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    
  </system.web>
</configuration>